<h1>All Cuts</h1>

<% @cuts.each do |cut| %>
    <%= image_tag cut.image, :class => 'thumb' if cut.image.present? %>
    <ul>
        <li>Name: <%= link_to cut.name, cut %></li>
        <li>Alternative name: <%= cut.alternative_name %></li>
    </ul>
<% end %>
