<h2>All Cuts</h2>

<%= link_to image_tag "cow.png", :class => 'cow' %>

<% @cuts.each do |cut| %>
    <%= image_tag cut.image, :class => 'thumb' if cut.image.present? %>
    <ul>
        <li>Name: <%= link_to cut.name, cut %></li>
        <% if cut.alternative_name.present? %>
            <li>Alternative name: <%= cut.alternative_name %></li>
        <% end %>
    </ul>
    
<% end %>
