<h2>All Wines</h2>

<div class="wines-container">
  <% @wines.each do |wine| %>
    <div class="wine">
      <%= link_to image_tag(wine.image_URL, class: 'thumb'), wine %>
      <br>
      <%= link_to wine.name, wine %>
    </div>
  <% end %>
</div>